app-basket-summary{
  thead{
    th{
      text-align: center;
    }
  }
  tbody{
    td{
      text-align: center;
    }
  }
  ::ng-deep{
    .plus-minus{
      width: 100%;
      justify-content: center;
      font-size: 12px;
      font-weight: normal;
    }
  }
}


.buttons{
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
