.card{
  width: calc(25% - 10px);
  height: 150px;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  cursor: pointer;
  cursor: pointer;
  i{
    font-size: 4rem;
  }
  .selected-method{
    font-size: 20px;
    position: absolute;
    top: 6px;
    right: 10px;
    color: green;
  }
  &:hover{
    box-shadow: 0 0 5px 1px lightgray;
  }
}

.buttons{
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .card{
    width: calc(50% - 10px);
  }
}
