<div class="carousel">

  <carousel>
    <slide>
      <img src="assets/images/homeimage1.png" alt="first slide" style="display:block; width: 100%;">
    </slide>
    <!-- <slide>
      <img src="assets/images/hero2.jpg" alt="first slide" style="display:block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/hero3.jpg" alt="first slide" style="display:block; width: 100%;">
    </slide> -->
  </carousel>
</div>

<section class="featured">
  <div class="brands">
    <div class="brand" *ngFor="let brand of brands">
      <img [src]="'assets/images/' + brand +'.png'" [alt]="brand">
    </div>
  </div>
</section>

<section class="products">
  <div class="keyboards">
    <div class="left">
      <img src="../../assets/images/keychron K3 max.png" alt="">
    </div>
    <div class="right">
      Unleash the power of your fingertips with our gaming keyboards – where every keystroke becomes a game-changing move. From mechanical marvels to ergonomic wonders, dive into a world where victory is at your fingertips. Illuminate your path to glory with customizable backlighting and conquer every quest in style.
    </div>
  </div>
  <div class="mouse">
    <div class="left">
      Seize control of your gaming destiny with our precision-engineered gaming mice. These beasts are not just pointers; they're your companions in the virtual battleground. From sleek designs to customizable buttons, our mice are born to level up your gaming prowess. Cut the cord, embrace the freedom, and navigate victory with unrivaled precision.
    </div>
    <div class="right">
      <img src="../../assets/images/Logitech G Pro.png" alt="">
    </div>
  </div>
  <div class="monitors"></div>
</section>
<div class="navigateToShop">
  <button mat-stroked-button [routerLink]="['/shop']">View shop</button>
</div>
