<div class="carousel">

  <carousel>
    <slide>
      <img src="assets/images/homeimage1.png" alt="first slide" style="display:block; width: 100%;">
    </slide>
    <!-- <slide>
      <img src="assets/images/hero2.jpg" alt="first slide" style="display:block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/hero3.jpg" alt="first slide" style="display:block; width: 100%;">
    </slide> -->
  </carousel>
</div>

<section class="featured">
  <div class="brands">
    <div class="brand" *ngFor="let brand of brands">
      <img [src]="'assets/images/' + brand +'.png'" [alt]="brand">
    </div>
  </div>
</section>
